\thispagestyle{empty}
\pagenumbering{gobble}

\begin{titlepage}
  \begin{tikzpicture}[remember picture, overlay]
    \node[anchor=north west] at (current page.north west)
      {\includegraphics[width=\paperwidth,height=\paperheight]{ {{ cover_background }} }};
  \end{tikzpicture}

  \vspace*{6cm}

  \begin{flushleft}

    \hspace*{0.8cm}%
    {\color[HTML]{70AD47}\fontsize{42}{48}\selectfont \textbf{ {{ product }} }}

    \vskip 1cm

    \hspace*{1.1cm}%
    {\fontsize{28}{32}\selectfont {{ title }}}

    \vskip 0.6cm

    \hspace*{1.1cm}%
    {\large Issue {{ issue }} \hspace{2em} Date {{ date }}}

  \end{flushleft}

\end{titlepage}

\clearpage
\pagenumbering{roman}
