@page {
  margin: 20mm 15mm 25mm 15mm;
  @top-center {
    content: "Neoway 文档工程组";
    font-size: 10pt;
  }
  @bottom-right {
    content: "Page " counter(page);
    font-size: 9pt;
  }
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 11pt;
  color: #222;
}

h1, h2, h3 {
  color: #1a355b;
}
