{# ---- 统一代码块缩进宏 ---- #}
{% macro indent4(s) -%}
{{- '    ' + (s|trim|replace('\r\n','\n')|replace('\n','\n    ')) -}}
{%- endmacro %}

.. _cmd-{{ cmd_name|lower }}:

{{ cmd_name }}：{{ cmd_title }}
{{ "-" * (cmd_name|length + cmd_title|length + 5) }}

{{ desc }}
