{% macro render(parameters) %}
{% if parameters %}
\atparamtitle

{% for k, v in parameters.items() %}
\textbf{ {{ k }} }: {{ (v.get("__desc__") or '')|trim }} \\
{% for opt, text in v.items() if opt != "__desc__" %}
- {{ opt }}: {{ text }} \\
{% endfor %}
{% endfor %}

{% else %}
(无参数)
{% endif %}
{% endmacro %}
