{{ title }}
{{ "=" * title|length }}

.. list-table::
   :widths: auto
   :header-rows: 1

   *{% for h in headers %} - {{ h }}{% endfor %}

{% for row in rows %}
   *{% for col in row %} - {{ col }}{% endfor %}
{% endfor %}
