.. _cmd-{{ cmd_name|lower }}:

{{ cmd_name }}：{{ cmd_title }}
{{ "-" * max((cmd_name|length + cmd_title|length + 2), 10) }}

{{ desc }}

命令格式
^^^^^^^^
{% set label_map = {"执行":"执行命令", "查询":"查询命令", "测试":"测试命令", "设置":"设置命令"} %}
{% for st in subtypes %}
{% set label = label_map.get(st.type, "命令") %}
**{{ label }}**
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

**命令：**

::

    {{ st.fmt }}

**响应：**

::
{% if st.response.strip() %}
    {{ st.response.strip().replace('\n', '\n    ') }}
{% else %}
    OK
{% endif %}

{% endfor %}

参数
^^^^
{% if parameters %}
{% for k, v in parameters.items() %}
- **{{ k }}**： {{ (v.get('__desc__') or '')|trim }}

{% for opt, text in v.items() if opt != '__desc__' %}
  - {{ opt }}：{{ text }}
{% endfor %}

{% endfor %}
{% else %}
(无参数)
{% endif %}

说明
^^^^
{{ note.strip() if note else "(无说明)" }}
