<div class="cover-page" style="page-break-after: always; text-align:center; font-family:sans-serif; margin-top:180px;">
  <img src="{{ logo_path }}" alt="logo" width="180" style="margin-bottom:40px;">
  <h1 style="font-size:28pt; color:#333;">{{ project_name }}</h1>
  <h2 style="font-size:16pt; color:#666;">{{ subtitle }}</h2>
  <table style="margin:100px auto 0 auto; font-size:12pt; text-align:left; line-height:1.8;">
    <tr><td><b>Author:</b></td><td>{{ author }}</td></tr>
    <tr><td><b>Date:</b></td><td>{{ date }}</td></tr>
    <tr><td><b>Version:</b></td><td>{{ version }}</td></tr>
  </table>
</div>
