% -------- Neoway 文档封面 --------
\thispagestyle{empty}
\pagenumbering{gobble}

\begin{titlepage}
  \begin{tikzpicture}[remember picture, overlay]
    \node[anchor=north west, inner sep=0pt] at (current page.north west)
      {\includegraphics[width=\paperwidth,height=\paperheight]{background.png}};
  \end{tikzpicture}

  \vspace*{8cm}
  \begin{flushleft}
    {\color[HTML]{70AD47}\fontsize{42}{48}\selectfont \textbf{ {{ model_name }} }}
    \\[0.8cm]
    {\fontsize{28}{32}\selectfont {{ doc_type|replace("_", "\\_") }}}
    \\[0.6cm]
    {\large 版本 {{ version_tag }} \hspace{1em} 日期 {{ date_cn }}}
  \end{flushleft}
\end{titlepage}

\clearpage
\pagenumbering{roman}
