\\definecolor{headercolor}{RGB}{ {{ header_color }} }


\\fancypagestyle{normal}{%
\\fancyhf{}
\\fancyhead[L]{\\includegraphics[height={{ logo_height }}pt]{ {{ header_logo }} }}
\\fancyhead[R]{\\textcolor{headercolor}{\\nouppercase{\\leftmark}}}
\\fancyfoot[R]{\\thepage}
\\renewcommand{\\headrulewidth}{0.4pt}
\\renewcommand{\\footrulewidth}{0.4pt}
}